.header{
  background-color:white;
  margin-left:10%; 
  margin-bottom: 2%
}

.languageButton,
.locationButton
{
color: rgb(220, 53, 75);
border-radius: 15px;
}
.backButton{
  margin-top:5px; 
  margin-left:10px; 
  color:rgb(220, 53, 75)
}

.eventTitle{
  margin:0; 
  padding:0;
  color:black;
}
.eventDetails{
  color: black; 
  font-size:20px;
  margin-bottom: 0;
}

.bookButton{
  background-color: rgb(220, 53, 75);
  width: 15%;
  height: 50px;
  margin-top: 0;
  margin-left: 40%;
  font-size: 20px;
}

.eventDate{
  font-size: 18px;
  color: black
}